* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(117deg, #ffde5f 0%, #e6aaaa 100%);
  color: #911a1a;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #911a1a;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #911a1a;
  color: #fff;
}

.todo-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  display: flex;
  margin: 5px;
  background-color: #ffde5f;
}

.todo-item {
  font-size: 1.5rem;
  margin: auto;
  padding: 10px;
}

.delete-btn {
  border: none;
  background-color: #911a1a;
  color: #ffde5f;
  font-size: 1rem;
  margin: auto;
  padding: 1rem;
  cursor: pointer;
}

.complete-btn {
  border: none;
  background-color: #911a1a;
  color: #ffde5f;
  font-size: 1rem;
  margin: auto;
  padding: 1rem;
  cursor: pointer;
}

.delete-btn:hover {
  color: #911a1a;
  background-color: #ffde5f;
}

.complete-btn:hover {
  color: #911a1a;
  background-color: #ffde5f;
}